body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #ffffff;
}

input {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

select {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 100px;
    margin-left: 40px;
}